/* COLLECTION */


* {
  box-sizing: border-box;
}

body {
  background-image: url(pasta/harisankar-sahoo-h081Jkm_SaI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: rgb(71, 34, 24);
  margin: 0;
  padding: 0; 
  line-height: 1.3;
  font-size: 16px;
  min-height: 100vh;
  max-width: 100vw;
  font-family: "Schibsted Grotesk", sans-serif;
}

.fancy {
  color: rgb(71, 34, 24);
  font-size: 70px;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  background: white;
  border-radius: 10px;
  padding: 12px;
}


img {
  max-width: 100%;
}

header {
  background-color: rgba(176, 66, 66, 0.3);
  max-width: 300px;
  margin: 16px auto;
  padding: 8px 16px;
  border-radius: 32px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  position: sticky; 
  top: 16px;
  backdrop-filter: blur(5px);
}

a {
  color: rgb(71, 34, 24);
  text-decoration: none;
}

a:hover {
  opacity: 50%;
}

.button {
  color: rgb(71, 34, 24);
  background-color: white;
  padding: 6px 20px;
  border-radius: 32px;
}

.button:hover {
  color: white;
  background-color: rgb(194, 34, 26);
  opacity: 100%;
}

main {
  padding: 16px;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 90vh;
  display: grid;
  align-items: center;
}

p {
  /* max-width: 50px; */
  opacity: 80%;
  margin-bottom: 32px;
}

h1 {
  margin: 0;
}

h3 {
  color: rgb(71, 34, 24);
  background: white;
  border-radius: 30px;
  padding: 12px 20px;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

.pasta-info {
  text-align: left;
  color: rgb(71, 34, 24);
  background: white;
  border-radius: 30px;
  padding: 10px 20px;
}

.info {
  align-items: left;
  background-color: white;

}

.bg-image {
  background-image: url(pasta/marialaura-gionfriddo-II3Vo7MJ9Z0-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.active {
  border-bottom: 2px solid;
}

/* GRID SYSTEM */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  
}

.grid div {
  text-align: center;
  margin-bottom: 96px;
}


/* @media (min-width: 600px) {

  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

} */

@media (prefers-color-scheme: light) {
  
  body {
    background-color: ;
    color: #000000;
  }
}

.max-width {
  max-width: 500px;
  color: rgb(71, 34, 24);
  background: white;
  border-radius: 5px;
  padding: 14px;
}

.text-center {
  text-align: center;
  color: rgb(71, 34, 24);
  background: white;
  border-radius: 30px;
  padding: 10px 20px;
}

.pastas {
  color: rgb(71, 34, 24);
  font-size: 60px;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

footer {
  padding: 16px;
  text-align: center;
  color: white;
}